{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  },
  "extends": "airbnb",
  "rules": {
    "import/prefer-default-export": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/forbid-prop-types": "off"
  },
  "overrides": [
    {
      "files": [
        "scripts/testSetup.js",
        "*.test.js"
      ],
      "rules": {
        "no-unused-expressions": "off",
        "import/no-extraneous-dependencies": [
          "error",
          {
            "devDependencies": true
          }
        ]
      },
      "globals": {
        "expect": false
      }
    }
  ]
}
