* {
  box-sizing: border-box;

  /* no outlines for an app-ish feeling */
  outline: none;

  /* no touch feedback box for an app-ish feeling */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #2a2a2a;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
}
