.wrapper {
  --layer: 10;
  --shadowFilter: drop-shadow(0 2px 4px rgba(0, 0, 0, .5));
  --header-height: 35px;

  z-index: var(--layer);
  filter: var(--shadowFilter);
  position: sticky;
  top: 0;
  padding: 30px;
  display: flex;
  transition: background-color .2s ease-out;
}
@media (max-width: 820px) {
  .wrapper {
    display: block;
  }
}

.wrapperFirstLine {
  display: flex;
}

.wrapperBreakLine {
  display: flex;
}
@media (max-width: 820px) {
  .wrapperBreakLine {
    padding-top: 30px;
  }
}
